.question {
    &-wrapper {
        font-family: OpenSans;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: $greyish-brown;
        margin: 1rem 0;
        
        .question-heading {
            margin: 0;
        }
        .question-option {
            margin: 0;
        }
    }
}