@import './_au-variables.scss';


.header {
    font-family: OpenSans;

    &-wrapper {
        background-color: $ocean-color;
        color: $white-color;
        text-align: center;
        
        .heading {
            display: inline;
            font-size: 34px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        img {
            padding-left: 5px;
        }
    }
}