@import './_au-variables.scss';

.au-app {
    &.container {
        width: 740px;
        height: auto;
        @include AU-space(padding-top, 1unit);
        @include AU-space(padding-right, 2unit);
        @include AU-space(padding-bottom, 2unit);
        @include AU-space(padding-left, 2unit);
        border: solid 1px $grey-color;
    }
    .progressbar-container {
        @include AU-space(margin-bottom, 1unit);
    }
}