.dh-smiley-selector {
    border: 1px solid #979797;
}

.dh-smiley-selector__heading {
    @include AU-space( margin-top, 0.5unit );
    @include AU-space( margin-bottom, 0.5unit );
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #4a4a4a;
}

.dh-smiley-selector__smiley {
    display: inline-block;
    width: 20%;
    text-align: center;
}