.dh-control-input.icon-very-sad {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/smilies/very-sad.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/smilies/very-sad-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }
}

.dh-control-input.icon-sad {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/smilies/sad.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/smilies/sad-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }
}

.dh-control-input.icon-neutral {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/smilies/neutral.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/smilies/neutral-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }
}

.dh-control-input.icon-happy {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/smilies/happy.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/smilies/happy-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }
}

.dh-control-input.icon-very-happy {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/smilies/very-happy.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/smilies/very-happy-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }
}