//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// dh-control-input component
//
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.dh-control-input {
	display: inline-block;
    position: relative;
    vertical-align: top;

	&.dh-control-input--block {
		@include AU-clearfix();
		@include AU-space( margin-top, 1unit );
		display: block;
	}
}

.dh-control-input__input {
	// hiding the native element behind our SVG so for browsers that don’t support SVG have a fallback
	position: absolute;
	cursor: pointer;

	& + .dh-control-input__text {
        cursor: pointer;
        font-family: "opensans-semibold";
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $greyish-brown;
	}

	// focus
	&:focus + .dh-control-input__text:before,
	&:focus + .dh-control-input__text:after {
		// Not using AU-focus as we are not applying :focus to this element
		@include AU-outline();
		outline-offset: 2px;
	}

	// disabled styling
	&[disabled] { // for IE
		cursor: not-allowed;

		& + .dh-control-input__text {
			cursor: not-allowed;
		}

		& + .dh-control-input__text {
			color: $AU-color-foreground-muted;
		}
	}

	&:disabled {
		cursor: not-allowed;

		& + .dh-control-input__text {
			cursor: not-allowed;
		}

		& + .dh-control-input__text {
			color: $AU-color-foreground-muted;
		}
	}
}

// SMILEY STYLE
.icon-style-smiley {

    .dh-control-input__input {
        @include AU-space( left, 1unit );
        @include AU-space( top, 1unit );
    }

    .dh-control-input__text {
        display: block;
        color: $AU-color-foreground-text;
        text-indent: -1000em;
        text-align: left;
        @include AU-space( width, 3unit );
        @include AU-space( height, 3unit );

        // styling for both SVG layers
        &:before,
        &:after {
            @include AU-space( width, 3unit );
            @include AU-space( height, 3unit );
            content: ' ';
            display: block;
            position: absolute;
            box-sizing: border-box;
            background-repeat: no-repeat;
            z-index: 100;
            left: 0; // offset for 3px border focus
            top: 0;  // offset for 3px border focus
            border: 3px solid transparent;
        }
    
        &:after {
            z-index: 101;
        }
    }
}

@import '_dh-control-input-smilies.scss';

// CIRCLE STYLE
.icon-style-circle {
    @include AU-space( margin-left, 1unit );
    @include AU-space( margin-right, 1unit );

    .dh-control-input__input {
        @include AU-space( left, 3.75unit );
        @include AU-space( top, 3.75unit );
    }

    .dh-control-input__text {
        display: block;
        color: $AU-color-foreground-text;
        text-align: center;
        @include AU-space( padding-top, 8.5unit );
        @include AU-space( width, 8.5unit );

        // styling for both SVG layers
        &:before,
        &:after {
            @include AU-space( width, 8.5unit );
            @include AU-space( height, 8.5unit );
            content: ' ';
            display: block;
            position: absolute;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: 100;
            left: 0; // offset for 3px border focus
            top: 0;  // offset for 3px border focus
            border: 3px solid transparent;
        }
    
        &:after {
            z-index: 101;
        }
    }
}

// SQUARE STYLE
.icon-style-square {
    @include AU-space( margin-left, 1unit );
    @include AU-space( margin-right, 1unit );

    .dh-control-input__input {
        @include AU-space( left, 3.75unit );
        @include AU-space( top, 3.75unit );
    }

    .dh-control-input__text {
        display: block;
        color: $AU-color-foreground-text;
        text-align: left;
        text-indent: -1000em;
        @include AU-space( padding-top, 11.875unit );
        @include AU-space( width, 9unit );

        // styling for both SVG layers
        &:before,
        &:after {
            @include AU-space( width, 9unit );
            @include AU-space( height, 11.875unit );
            content: ' ';
            display: block;
            position: absolute;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: 100;
            left: 0; // offset for 3px border focus
            top: 0;  // offset for 3px border focus
            border: 3px solid transparent;
        }
    
        &:after {
            z-index: 101;
        }
    }
}

@import '_dh-control-input-icons-square.scss';