.icon-active-social-life {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/active-social-life.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/active-social-life-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/active-social-life.svg);
    }
}

.icon-beer {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/beer.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/beer-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/beer.svg);
    }
}

.icon-being-there-family {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/being-there-family.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/being-there-family-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/being-there-family.svg);
    }
}

.icon-cheese {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/cheese.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/cheese-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/cheese.svg);
    }
}

.icon-children {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/children.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/children-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/children.svg);
    }
}

.icon-close-friends {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/close-friends.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/close-friends-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/close-friends.svg);
    }
}

.icon-community {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/community.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/community-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/community.svg);
    }
}

.icon-couple {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/couple.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/couple-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/couple.svg);
    }
}

.icon-ends-meet {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/ends-meet.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/ends-meet-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/ends-meet.svg);
    }
}

.icon-enjoy-life {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/enjoy-life.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/enjoy-life-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/enjoy-life.svg);
    }
}

.icon-exercise {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/exercise.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/exercise-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/exercise.svg);
    }
}

.icon-existing-condition {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/existing-condition.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/existing-condition-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/existing-condition.svg);
    }
}

.icon-feel-younger {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/feel-younger.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/feel-younger-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/feel-younger.svg);
    }
}

.icon-grandkids {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/grandkids.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/grandkids-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/grandkids.svg);
    }
}

.icon-high-intensity {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/high-intensity.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/high-intensity-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/high-intensity.svg);
    }
}

.icon-investments {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/investments.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/investments-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/investments.svg);
    }
}

.icon-jeans {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/jeans.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/jeans-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/jeans.svg);
    }
}

.icon-low-intensity {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/low-intensity.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/low-intensity-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/low-intensity.svg);
    }
}

.icon-moderate-intensity {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/mod-intensity.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/mod-intensity-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/mod-intensity.svg);
    }
}

.icon-strengthening {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/strengthening.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/strengthening-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/strengthening.svg);
    }
}

.icon-partner {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/partner.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/partner-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/partner.svg);
    }
}

.icon-parents {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/parents.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/parents-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/parents.svg);
    }
}

.icon-pets {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/pets.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/pets-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/pets.svg);
    }
}

.icon-not-available {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/not-available.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/not-available-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/not-available.svg);
    }
}

/*

template

.icon-tempicon {
    .dh-control-input__input {
        // normal
        & + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/tempicon.svg);
            }
        }

        // normal checked
        &:checked + .dh-control-input__text {
            &:before {
                background-image: url(../../images/icons/tempicon-alt.svg);
            }
        }

        // disabled
        &:disabled {
            & + .dh-control-input__text:before {
                
            }

            &:checked + .dh-control-input__text:before {
                
            }
        }
    }

    &.dh-quantity-selector__icon:before {
        background-image: url(../../images/icons/tempicon.svg);
    }
}
*/