// Light palette
// ==============
$AU-color-foreground-action:     #14b690 !default;
$AU-color-foreground-focus:      #9263DE !default;
$AU-color-foreground-text:       #313131 !default;
$AU-color-background:            #efefef !default;

// Dark palette
// ==============
$AU-colordark-foreground-action: #61daff !default;
$AU-colordark-foreground-focus:  #C390F9 !default;
$AU-colordark-foreground-text:   #ffffff !default;
$AU-colordark-background:        #008198 !default;